### Métodos da classe set

##### Add elementos

In [18]:
conjunto01 = set()

print(conjunto01)
print(type(conjunto01))
print(len(conjunto01))

conjunto01.add(85)
conjunto01.add(190)
conjunto01.add(32)
conjunto01.add(76)
conjunto01.add(32.4)
conjunto01.add('Hello')

print(conjunto01)

set()
<class 'set'>
0
{32, 32.4, 'Hello', 76, 85, 190}

##### Clear conjunto

In [19]:
conjunto02 = {32, 32.4, 'Hello', 76, 85, 190}

print(conjunto02)
print(type(conjunto02))
print(len(conjunto02))

conjunto02.clear()

print(conjunto02)
print(len(conjunto02))

{32, 32.4, 85, 'Hello', 76, 190}
<class 'set'>
6
set()
0

##### Clonando conjunto

In [20]:
conjunto03 = {36, 77, 81, 43, 18}

print(conjunto03)
print(type(conjunto03))
print(len(conjunto03))


conjunto04 = conjunto03.copy()

print(conjunto04)
print(type(conjunto04))
print(len(conjunto04))

print(id(conjunto03))
print(id(conjunto04))

{81, 18, 36, 43, 77}
<class 'set'>
5
{81, 18, 36, 43, 77}
<class 'set'>
5
2167727868832
2167727868384

##### Diferença entre conjuntos imprime os elementos de conjunto05 que não tem em conjunto06

In [21]:
conjunto05 = {26, 32, 45, 58, 63}
conjunto06 = {19, 32, 34, 58, 63, 67, 82}

print(conjunto05.difference(conjunto06))

{26, 45}

##### Update conjunto07

In [24]:
conjunto07 = {26, 32, 45, 58, 63}
conjunto08 = {19, 32, 34, 58, 67, 82}

conjunto07.difference_update(conjunto08)

print(conjunto07)

{26, 45, 63}

##### Remove elemento do conjunto

In [25]:
conjunto09 = {26, 32, 45, 58, 63}

conjunto09.discard(45)

print(conjunto09)

{32, 58, 26, 63}

##### Intersecção

In [26]:
conjunto10 = {26, 32, 45, 58, 63}
conjunto11 = {19, 32, 34, 58, 67, 82}

print(conjunto10.intersection(conjunto11))

{32, 58}

##### Update intersecção

In [27]:
conjunto12 = {26, 32, 45, 58, 63}
conjunto13 = {19, 32, 34, 58, 67, 82}

conjunto12.intersection_update(conjunto13)

print(conjunto12)

{32, 58}

##### Disjunção para devolver true os elementos de um conjunto recisa ser todos diferentes do outro conjunto

In [ ]:
conjunto14 = {26, 32, 45, 58, 63}
conjunto15 = {19, 32, 34, 58, 67, 82}
conjunto16 = {126, 312, 415, 518, 613}

print(conjunto14.isdisjoint(conjunto15))

print(conjunto14.isdisjoint(conjunto16))

False
True

##### O retorno será verdadeiro se todos os elementos estão no conjunto 1 consta no conjunto 2

In [31]:
conjunto17 = {10, 20, 30, 40, 50}
conjunto18 = {10, 19, 30, 32, 58, 67, 82}
conjunto19 = {5, 10, 15, 20, 25, 30, 35, 40, 45, 50}

print(conjunto17.issubset(conjunto18))

print(conjunto17.issubset(conjunto19))

False
True

##### Retorna falso ou verdadeiro se C1 for superconjunto de C2, ou seja todos os elementos de C2 esteja contido em C1

In [33]:
conjunto20 = {10, 20, 30, 40, 50}
conjunto21 = {10, 19, 30, 32, 58, 67, 82}
conjunto22 = {10, 30, 50}

print(conjunto20.issuperset(conjunto21))

print(conjunto20.issuperset(conjunto22))

False
True

##### Remove um elemento aleatorio
`não é permitido realizar o metodo pop() com o conjunto **VAZIO**`

In [35]:
conjunto23 = {10, 19, 30, 32, 58, 67, 82}

print(conjunto23)

x = conjunto23.pop()

print(x)
print(conjunto23)

{32, 82, 67, 19, 58, 10, 30}
32
{82, 67, 19, 58, 10, 30}

##### Remove um elemento especifico

In [36]:
conjunto24 = {10, 19, 30, 32, 58, 67, 82}

print(conjunto24)

conjunto24.remove(30)

print(conjunto24)

{32, 82, 67, 19, 58, 10, 30}
{32, 82, 67, 19, 58, 10}

##### Validação

In [ ]:
conjunto25 = {10, 19, 30, 32, 58, 67, 82}

print(20 in conjunto25)
print(19 in conjunto25)

False
True

##### União de conjuntos

In [ ]:
conjunto26 = {10, 20, 30, 40, 50}
conjunto27 = {10, 19, 30, 32, 58, 67, 82}

print(conjunto26.union(conjunto27))

{32, 67, 40, 10, 50, 82, 20, 19, 58, 30}

##### Diferença simetrica, são todos os elementos da união menos da interseccção

In [42]:
conjunto28 = {10, 20, 30, 40, 50}
conjunto29 = {10, 19, 30, 32, 58, 67, 82}

print(conjunto28.intersection(conjunto29))
print(conjunto28.union(conjunto29))
print(conjunto28.symmetric_difference(conjunto29))

{10, 30}
{32, 67, 40, 10, 50, 82, 20, 19, 58, 30}
{67, 82, 19, 20, 32, 40, 50, 58}

##### Update com a diferença simetrica

In [43]:
conjunto30 = {10, 20, 30, 40, 50}
conjunto31 = {10, 19, 30, 32, 58, 67, 82}

print(conjunto30.intersection(conjunto31))
print(conjunto30.union(conjunto31))
conjunto30.symmetric_difference_update(conjunto31)

print(conjunto30)

{10, 30}
{32, 67, 40, 10, 50, 82, 20, 19, 58, 30}
{67, 82, 19, 20, 32, 40, 50, 58}

##### Update realiza a união e faz o update no conjunto

In [44]:
conjunto30 = {10, 20, 30, 40, 50}
conjunto31 = {10, 19, 30, 32, 58, 67, 82}

conjunto30.update(conjunto31)

print(conjunto30)

{32, 67, 40, 10, 50, 82, 20, 19, 58, 30}